<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/admin-layout :: layout(~{::content}, ~{::scripts})}">


<th:block th:fragment="content">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Students</h1>
            <a th:href="@{/admin/students/create}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus fa-sm text-white-50"></i> Add New Student
            </a>
        </div>

        <!-- Content Row -->
        <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-10">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">All Student</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="student-table" class="display">
                                <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Roll</td>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <td>Semester</td>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGE SCRIPTS -->
    <th:block th:fragment="scripts">
        <script>
            $(document).ready(function () {
                $('#student-table').DataTable({
                    serverSide: true,
                    processing: true,
                    pageLength: 10,
                    ajax: {
                        type: "POST",
                        url: "/admin/students/datatable",
                        contentType: "application/json;charset=UTF-8",
                        data: function (data) {
                            return JSON.stringify(data);
                        }
                    },
                    columnDefs: [
                        {
                            orderable: false,
                            targets: [5]
                        }
                    ],
                    columns: [
                        {data: 'id', visible: false},
                        {data: 'roll'},
                        {data: 'name'},
                        {data: 'email'},
                        {data: 'semester'},
                        {
                            data: null,
                            render: function (teacher) {
                                return `
                                        <a href="/admin/students/update/${teacher.id}" type="button" class="btn btn-info btn-sm action-btn"><i class="fas fa-edit"></i></a>
                                        <button type="button" class="btn btn-danger btn-sm action-btn"><i class="fas fa-trash"></i></button>
                                    `;
                            }
                        }
                    ]
                });
            })

        </script>
    </th:block>
</th:block>

</html>
